version: '3.8'

services:
  sarp-app:
    container_name: sarp-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=production